body {
  background-color: #f9f7fe;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
}

h2 {
  margin: 20px 0 0 0;
}

select {
  border-radius: 4px;
  display: block;
  font-size: 18px;
  padding: 10px;
  width: 100%;
}

footer {
  text-align: center;
  font-size: 14px;
  font-family: monospace;
  margin-bottom: 30px;
}

.project-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  max-width: 600px;
  margin: 60px auto;
  margin-bottom: 30px;
  padding: 15px;
}

.city-container {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}

.date {
  opacity: 0.6;
  font-size: 14px;
}

.time {
  font-size: 36px;
  margin: 24px;
  font-weight: bold;
}
